h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #1e90ff;
}

h4 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  color: #808080;
}
h2 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 10px;
}
h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 10px;
}
ul {
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
  color: #808080;
  margin-right: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

label {
  font-size: 18px;
  margin-right: 20px;
  color: #1e90ff;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1e90ff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

a {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  color: #1e90ff;
  text-decoration: none;
}

h5 {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 10px;
}
